# Copyright (c) 2025 Christoph Jans
# SPDX-License-Identifier: Apache-2.0

if SOC_SILABS_XG28

config NUM_IRQS
	# must be >= the highest interrupt number used
	default 78

# Use PSA Crypto Driver and wrapper from hal_silabs
configdefault MBEDTLS_PSA_CRYPTO_BUILTIN_DRIVER_WRAPPER
	default n

endif
